<div id="centered">
  <h1>Página inicial</h1>

  Acesse as principais partes do sistema!<br><br>

  <table id="centered-table">
      <tr>
          <td>
              <%= link_to 'Listas', lists_path %>
          </td>
          <td>
            <%= link_to 'Afazeres', todos_path %>
          </td>
      </tr>
  </table>

  <div id="pending-todos">
    <b>Afazeres pendentes: </b><br>
    <%  @pending_todos.each do |todo| %>
      <%= todo.name %> - <%= link_to 'Editar', edit_todo_path(todo) %><br>
    <% end %>
  </div>
</div>

